#navBar  {
	color: blue;
	border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	font-family: 'Alegreya', serif;
	}

#navBar > li > a:link {
	color:#007bff;
	font-family: 'Alegreya', serif;
}

#navBar > li > a:hover {
	color: #007bff;
	font-family: 'Alegreya', serif;
}

#navBar > li > a:visited {
	color: white;
	font-family: 'Alegreya', serif;
}

#navBar > li > a:active {
	color: #007bff;
	font-family: 'Alegreya', serif;
}

a:link {
	color:#007bff;
}
a:hover{
	color: #007bff;
	}
a:visited {
	color: white;
}
a:active {	
	color: #007bff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color:white;
    background-color:#007bff;
    }
.nav-pills > li  > a:hover {
	color:#007bff; !important;
}

.nav-pills > li.active  > a:hover {
	color:white !important;
	background-color:#007bff; !important;
}

#btn-custom {
 background-color: hsl(330, 100%, 19%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0f87", endColorstr="#600030");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff0f87), to(#600030));
  background-image: -moz-linear-gradient(top, #ff0f87, #600030);
  background-image: -ms-linear-gradient(top, #ff0f87, #600030);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0f87), color-stop(100%, #600030));
  background-image: -webkit-linear-gradient(top, #ff0f87, #600030);
  background-image: -o-linear-gradient(top, #ff0f87, #600030);
  background-image: linear-gradient(#ff0f87, #600030);
  border-color: #600030 #600030 hsl(330, 100%, 10.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
body {
  background: url("../images/jackiebackgroundcolorcorrected.jpg") no-repeat center center fixed;
  height: auto;
  font-family: 'Gentium Basic', serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  box-shadow: 5px 0 5px 5px white;
  background: rgba(31, 95, 132, 0.5); 
  z-index: 99;
  color: white;
}

.center-wrap {
  text-align: center;
  margin: auto;
  size: inherit;
  display: inline-block;
}

.row-right {
  text-align: right;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  margin-right: -4px;
}

h1 {
  font-size: 700%;
  color: white;
  text-shadow: 10px 10px 10px black;
  font-family: 'Alegreya', serif;
  
}

h2 {
  font-size: 200%;
  text-shadow: 10px 10px 10px black;
  font-family: 'La Belle Aurore', cursive;
  padding-bottom: 50px;
}

.opacity {
  opacity: 1.0;
  z-index 100;
}

.box-shadow {
  box-shadow: 10px 0 20px 10px black;
}

.custom-font {
  font-size: 500%;
  font-family: 'La Belle Aurore', cursive;
}

.shadow-text {
  text-shadow: 10px 10px 10px black;
}

.white-text {
  color: white
}

.white-border {
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

